﻿@model IEnumerable<User>
@{ 
    ViewBag.Title = "Список пользователей";
}
<a asp-area="" asp-controller="Users" asp-action="Create">Добавить пользователя</a>
<table class="table">
    <tr><th>Логин</th><th>ФИО</th><th>Email</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.SurName @user.Name @user.MiddleName</td>
            <td>@user.Email</td>
            <td>
                <from asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </from>
            </td>
        </tr>
    }
</table>